{% extends "pages/base.jinja" %}

{% block title %}
    Flask Demo - About
{% endblock %}

{% block content %}
    <h1>Flask</h1>

    <p>Flask is a web engine</p>
    
    <h2>Jinja</h2>

    <p>Jinja is a templating engine</p>
{% endblock %}

