{% extends "pages/base.jinja" %}

{% block title %}
    Flask Demo - Form
{% endblock %}

{% block content %}
    <article>
    <h2>A lovely Form</h2>

    <form method="POST" action="/processForm">
        <feildset>
            <label>
                Your Name
                <input
                    name="name"
                    type="text"
                    placeholder="Your Name"
                    required
                >
            </label>

            <label>
                Your Age
                <input
                    Age="Age"
                    type="number"
                    placeholder="Your Age"
                    min="0"
                    max="120"
                    required
                >
            </label>

        </feildset>

        <input
            type="submit"
            value="Send off the data"
        >
    </form>

    </article>

{% endblock %}

